/* Général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: #fff;
}

.hidden {
  display: none;
}

/* Header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo .logo-link {
  display: flex;
  align-items: center;
}

.header__logo .logo-image {
  height: 80px;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list__item {
  list-style-type: none;
}

.nav-list__link {
  color: #fff;
  text-decoration: none;
}

/* Hero */
.hero {
  padding: 40px;
}

.hero__title {
  font-size: 2em;
  margin-bottom: 20px;
}

.hero__description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero__actions {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:hover {
  background-color: #0056b3;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
  height: 100%;
}


/* Footer */
.footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo .footer__logo-image {
  height: 80px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.footer-nav__item {
  list-style-type: none;
}

.footer-nav__link {
  color: #fff;
  text-decoration: none;
}

.footer__copy {
  text-align: center;
  padding-top: 20px;
}
.analyze-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.analyze-section .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.result-section {
 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.result__title {
  font-size: 32px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.result__title:before,
.result__title:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}



