<!DOCTYPE html>
<html>
<head>
    <title>MoodIT</title>
    <link href="../static/styles.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__logo">
          <a class="logo-link" href="/">
            <img src="../static/logo.png" alt="Logo" class="logo-image">
          </a>
        </div>
  
        <nav class="header__nav">
          <ul class="nav-list">
         
            <li class="nav-list__item">
              <a class="nav-list__link" href="wordcloud.html">Wordcloud</a>
            </li>
          
          </ul>
        </nav>
  
      </div>
    </header>
  
    <section class="hero">
      <div class="analyze-section">
      <div class="hero__container">
        <h1 class="hero__title">
          Analyze your dataset.
        </h1>
        <p class="hero__description">
          Thanks to our system, you'll be able to analyze the sentiments from the comments of your dataset.
        </p>
        <div class="hero__actions">
          <label for="csvFileInput" class="button button-primary" class="file-upload">
            Upload CSV
            <input type="file" id="csvFileInput" accept=".csv" class="hidden">
          </label>
          <button  class="button button-primary" onclick="analyzeComments()">Analyze Comments</button>
        </div>
        <div id="chartContainer" class="chart"></div>
      </div>
    </div>
    </section>
  
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__logo">
          <img src="../static/logo.png" alt="Logo" class="footer__logo-image">
        </div>
        <nav class="footer__nav">
          <ul class="footer-nav__list">
           
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="wordcloud.html">Wordcloud</a>
            </li>
   
        </nav>
        <p class="footer__copy">
          &copy; 2022. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
  </html>